<template name="Header">
  <img style = "max-height: 500px;" class = "ui fluid image" src ="/images/concert.jpg">
    <div style = "margin: 0; border-radius: 0" class="ui borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Manoa Ticket Exchange</h1></a>

    <a class="{{ isActiveRoute 'Create_Profile_Page'}} item" href="{{ pathFor 'Create_Profile_Page' }}">Create a Profile </a>
    <a class="{{ isActiveRoute 'Login_Page'}} item" href="{{ pathFor 'Login_Page' }}">Login</a>
    <a class="{{ isActiveRoute 'User_Home_Page'}} item" href="{{ pathFor 'User_Home_Page' }}">User Home </a>
    <a class="{{ isActiveRoute 'Add_Listing_Page'}} item" href="{{ pathFor 'Add_Listing_Page' }}">Create New Listing </a>
    <a class="{{ isActiveRoute 'Admin_Home_Page'}} item" href="{{ pathFor 'Admin_Home_Page' }}">Admin Home </a>
    <a class="{{ isActiveRoute 'Detailed_Event_Page'}} item" href="{{ pathFor 'Detailed_Event_Page' }}">Detailed Event </a>


    </div>
  </div>
</template>