<template name="Header">
  <img style = "max-height: 500px;" class = "ui fluid image" src ="/images/concert.jpg">
    <div style = "margin: 0; border-radius: 0" class="ui borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Manoa Ticket Exchange</h1></a>

    <a class="{{ isActiveRoute 'Add_Listing_Page'}} item" href="{{ pathFor 'Add_Listing_Page' }}">Create New Listing </a>
    <a class="{{ isActiveRoute 'Create_Profile_Page'}} item" href="{{ pathFor 'Create_Profile_Page' }}">Create a Profile </a>

    </div>
  </div>
</template>